@model WebApplication1.ViewModels.Schedule.CScheduleViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { fCid = 1 })
</p>
<table class="table">

    @{


        if (Model != null)
        {
            <tr>
                @for (int i = 0; i < Model.ArrEnable.Count; i++)
                {

                    <td>@Model.ArrEnable[i]</td>
                }
            </tr>

            <tr>
                @for (int i = 0; i < Model.ArrUnable.Count; i++)
                {

                    <td>@Model.ArrUnable[i]</td>
                }
            </tr>


        }
    }

</table>

@section scripts {
    <script>
    @{ 
        string sss = String.Join("|", Model.ArrEnable);
    }
        var kstr = '@sss';

        var kArr = kstr.split('|')
        console.log(kArr);
    </script>
}
