
@{
    ViewBag.Title = "登入";
}

<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <input type="text" class="form-control" id="account" name="account" placeholder="帳號" required>
                            </div>
                            <div class="col-12 mt-2">
                                <input type="password" class="form-control" id="password" name="password" placeholder="密碼" required>
                                <div> <span style="color:red">@ViewBag.message</span></div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">登入</button>
                            </div>
                            <div class="col-12 text-right mt-4">
                                <span>還沒有帳號嗎？點擊  <a href="@Url.Action("Register", "Account")" class="single-contact-information"><h6>註冊</h6></a></span>
                                @Html.ActionLink("測試用會員列表", "list", "Account", new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



