
@{
    ViewBag.Title = "儲值點數";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section styles {
    <style>
        .input-font {
            position: absolute;
            font-size: 12px;
            line-height: 52px;
            color: #6c757d;
            right: 3rem;
        }
    </style>
}

@section Breadcumb {
    @{ Html.RenderPartial("~/Views/Shared/_Breadcumb一般.cshtml"); }
}

<!-- ##### BuyPoint Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="@Url.Action("buypointsuccess", "Fontend")" method="post">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <div class="input-font">點</div>
                                <input type="number" min="1" step="1" class="form-control" id="pointqty" placeholder="需求數量" oninput="dollar()" required style="padding-right: 60px;">
                            </div>
                            <div class="row mt-2">
                                <div style="padding-left: 4rem">換算現金</div>
                                <div style="position: absolute; right:3rem" id="dollars">NT$</div>
                            </div>

                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">送出</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### BuyPoint End ##### -->

@section scripts {
    <script>
        function dollar() {
            var dollar = $('input[id=pointqty]').val();
            $('#dollars').html(`<span>NT$${dollar}</span>`);
        }
    </script>
}
