
@{
    ViewBag.Title = "私廚簡介";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Breadcumb {
    @{ Html.RenderPartial("~/Views/Shared/_Breadcumb一般.cshtml"); }
}

<!-- ##### chefinfo Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th colspan="2" class="text-center">
                                <div class="single-best-receipe-area mb-30 mt-5">
                                    <img class="img-style" src="/Content/img/bg-img/r1.jpg" alt="">
                                    <div class="receipe-content">
                                        <h5><b>私廚名稱</b></h5>
                                        <div class="ratings">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td style="width: 100px;"><b>電子郵件</b></td>
                            <td>test@gmail.com</td>
                        </tr>
                        <tr>
                            <td><b>服務地區</b></td>
                            <td>台北市</td>
                        </tr>
                        <tr>
                            <td><b>餐飲風格</b></td>
                            <td>中式、日式</td>
                        </tr>
                        <tr>
                            <td><b>服務項目</b></td>
                            <td>私廚到家、線上教學</td>
                        </tr>
                        <tr>
                            <td><b>簡　　介</b></td>
                            <td>
                                "簡單- 就是最完美的境界-達文西" (Leonardo da Vinci)

                                在美國從事高級餐飲業超過四十年的Larry，來港之前是國際知名餐廳(加州)Alice Waters Restaurant, Chez
                                Panisse的廚師；他曾為兩屆美國總統烹飪及在多家高尚食府和酒店當宴會策劃及廚師。

                                Larry曾接受正統廚藝學院訓練，深諳各式西餐烹調技術，惟他對加州的烹調手法情有獨鍾。Larry的烹飪特色是要突顯食材本身的鮮味，以喚醒人們的味覺；他必先從食材著手 -
                                挑選最新鮮及時令的食材，能用上有機、天然，甚至是野生的食物就更佳。在烹調方面，為保存食材的原味，Larry會利用最直接、簡單的方法 - 例如燒和烤。

                                然而Larry不僅對食物執著，他更是一個徹頭徹尾的生活藝術家。為了提升自己的品酒道行，正當他的烹飪事業如日方中之際，他不惜抽身先後到俄勒岡州一間精品酒廠學藝，鑽研品酒知識
                                - 從種植葡萄至巿場分銷，逐個細節深入研究；並於兩家公司作葡萄酒買手，以掌握整個行業運作。一晃就是7年。

                                最意想不到的，是Larry的藝術造詣。早於70年代Larry已不斷追求其藝術理想，1997年於加州大學完成其藝術碩士課程，之後在美國舉辦過不下10場個人畫展。
                            </td>
                        </tr>
                    </table>
                    <!-- ##### service Start ##### -->
                    <section class="best-receipe-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center mt-50 mb-50">
                                        <h4>私廚服務</h4>
                                        <hr class="hr">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                    <div class="card">
                                        <img src="/Content/img/bg-img/r1.jpg" class="card-img-top">
                                        <div class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                                            <table class="table2">
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="chef-name-w">課程名稱</span>
                                                        <br>
                                                        <span class="font-w">中式-線下教室</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="font-w">NT$500</span>
                                                        <div class="receipe-content star-position">
                                                            <div class="ratings"
                                                                 style="text-align: right; padding-right:20px ;">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                    <div class="card">
                                        <img src="/Content/img/bg-img/r2.jpg" class="card-img-top">
                                        <div class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                                            <table class="table2">
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="chef-name-w">課程名稱</span>
                                                        <br>
                                                        <span class="font-w">中式-線下教室</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="font-w">NT$500</span>
                                                        <div class="receipe-content star-position">
                                                            <div class="ratings"
                                                                 style="text-align: right; padding-right:20px ;">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                <!-- product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                    <div class="card">
                                        <img src="/Content/img/bg-img/r3.jpg" class="card-img-top">
                                        <div class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                                            <table class="table2">
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="chef-name-w">課程名稱</span>
                                                        <br>
                                                        <span class="font-w">中式-線下教室</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="font-w">NT$500</span>
                                                        <div class="receipe-content star-position">
                                                            <div class="ratings"
                                                                 style="text-align: right; padding-right:20px ;">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                <!-- product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                    <div class="card">
                                        <img src="/Content/img/bg-img/r4.jpg" class="card-img-top">
                                        <div class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                                            <table class="table2">
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="chef-name-w">課程名稱</span>
                                                        <br>
                                                        <span class="font-w">中式-線下教室</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="font-w">NT$500</span>
                                                        <div class="receipe-content star-position">
                                                            <div class="ratings"
                                                                 style="text-align: right; padding-right:20px ;">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                <!-- product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                    <div class="card">
                                        <img src="/Content/img/bg-img/r5.jpg" class="card-img-top">
                                        <div class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                                            <table class="table2">
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="chef-name-w">課程名稱</span>
                                                        <br>
                                                        <span class="font-w">中式-線下教室</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="font-w">NT$500</span>
                                                        <div class="receipe-content star-position">
                                                            <div class="ratings"
                                                                 style="text-align: right; padding-right:20px ;">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                <!-- product Area -->
                                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                    <div class="card">
                                        <img src="/Content/img/bg-img/r6.jpg" class="card-img-top">
                                        <div class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                                            <table class="table2">
                                                <tr>
                                                    <td class="text-left">
                                                        <span class="chef-name-w">課程名稱</span>
                                                        <br>
                                                        <span class="font-w">中式-線下教室</span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="font-w">NT$500</span>
                                                        <div class="receipe-content star-position">
                                                            <div class="ratings"
                                                                 style="text-align: right; padding-right:20px ;">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ##### service End ##### -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### chefinfo End ##### -->
