
@{
    ViewBag.Title = "我的最愛";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">
                <a href="salesitem.html">
                    <div class="single-best-receipe-area mb-50">
                        <div class="picautosize">
                            <div class="img-style4" style="background-image: url(/Content/img/bg-img/bg2.jpg);"></div>
                            <div class="overlay">
                                <a href="#"><i class="fa fa-heart fa-2x heartclicked" id="heart1"></i></a>
                            </div>
                        </div>

                        <div class="receipe-content">
                            <table>
                                <tr>
                                    <td class="table_td1" style="width: 150px;">
                                        <h5><b>套餐名稱</b></h5>
                                    </td>
                                    <td class="table_td2 pr-4">
                                        <h5 style="font-weight: normal;">NT$500</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table_td1 pl-4">
                                        <img id="headimg" class="circle-img-style"
                                             src="/Content/img/james-img/chefhead.jpg">
                                    </td>
                                    <td class="table_td2  pr-4">
                                        <div>
                                            <h5 class="ml-3 mt-2">私廚名稱私廚名稱</h5>
                                        </div>
                                        <div class="ratings mb-1 ml-3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">
                <a href="salesitem.html">
                    <div class="single-best-receipe-area mb-50">
                        <div class="picautosize">
                            <div class="img-style4" style="        background-image: url(/Content/img/bg-img/breadcumb2.jpg);"></div>
                            <div class="overlay">
                                <a href="#"><i class="fa fa-heart fa-2x heartclicked" id="heart2"></i></a>
                            </div>
                        </div>

                        <div class="receipe-content">
                            <table>
                                <tr>
                                    <td class="table_td1" style="width: 150px;">
                                        <h5><b>套餐名稱</b></h5>
                                    </td>
                                    <td class="table_td2 pr-4">
                                        <h5 style="font-weight: normal;">NT$500</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table_td1 pl-4">
                                        <img id="headimg" class="circle-img-style"
                                             src="/Content/img/james-img/chefhead.jpg">
                                    </td>
                                    <td class="table_td2  pr-4">
                                        <div>
                                            <h5 class="ml-3 mt-2">私廚名稱私廚名稱</h5>
                                        </div>
                                        <div class="ratings mb-1 ml-3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">
                <a href="salesitem.html">
                    <div class="single-best-receipe-area mb-50">
                        <div class="picautosize">
                            <div class="img-style4" style="background-image: url(/Content/img/bg-img/bg3.jpg);"></div>
                            <div class="overlay">
                                <a href="#"><i class="fa fa-heart fa-2x heartclicked" id="heart3"></i></a>
                            </div>
                        </div>

                        <div class="receipe-content">
                            <table>
                                <tr>
                                    <td class="table_td1" style="width: 150px;">
                                        <h5><b>套餐名稱</b></h5>
                                    </td>
                                    <td class="table_td2 pr-4">
                                        <h5 style="font-weight: normal;">NT$500</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table_td1 pl-4">
                                        <img id="headimg" class="circle-img-style"
                                             src="/Content/img/james-img/chefhead.jpg">
                                    </td>
                                    <td class="table_td2  pr-4">
                                        <div>
                                            <h5 class="ml-3 mt-2">私廚名稱</h5>
                                        </div>
                                        <div class="ratings mb-1 ml-3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">
                <a href="salesitem.html">
                    <div class="single-best-receipe-area mb-50">
                        <div class="picautosize">
                            <div class="img-style4" style="background-image: url(/Content/img/bg-img/bg7.jpg);"></div>
                            <div class="overlay">
                                <a href="#"><i class="fa fa-heart fa-2x heartclicked" id="heart4"></i></a>
                            </div>
                        </div>

                        <div class="receipe-content">
                            <table>
                                <tr>
                                    <td class="table_td1" style="width: 150px;">
                                        <h5><b>套餐名稱</b></h5>
                                    </td>
                                    <td class="table_td2 pr-4">
                                        <h5 style="font-weight: normal;">NT$500</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table_td1 pl-4">
                                        <img id="headimg" class="circle-img-style"
                                             src="/Content/img/james-img/chefhead.jpg">
                                    </td>
                                    <td class="table_td2  pr-4">
                                        <div>
                                            <h5 class="ml-3 mt-2">私廚名稱私廚名稱</h5>
                                        </div>
                                        <div class="ratings mb-1 ml-3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">
                <a href="salesitem.html">
                    <div class="single-best-receipe-area mb-50">
                        <div class="picautosize">
                            <div class="img-style4" style="background-image: url(/Content/img/bg-img/bg5.jpg);"></div>
                            <div class="overlay">
                                <a href="#"><i class="fa fa-heart fa-2x heartclicked" id="heart5"></i></a>
                            </div>
                        </div>

                        <div class="receipe-content">
                            <table>
                                <tr>
                                    <td class="table_td1" style="width: 150px;">
                                        <h5><b>套餐名稱</b></h5>
                                    </td>
                                    <td class="table_td2 pr-4">
                                        <h5 style="font-weight: normal;">NT$500</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table_td1 pl-4">
                                        <img id="headimg" class="circle-img-style"
                                             src="/Content/img/james-img/chefhead.jpg">
                                    </td>
                                    <td class="table_td2  pr-4">
                                        <div>
                                            <h5 class="ml-3 mt-2">私廚名稱私廚名稱</h5>
                                        </div>
                                        <div class="ratings mb-1 ml-3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div id="heartsuccess" class="popstyle" style="display: none;">
    <i class="fa fa-heart redstatus"
       style="font-size: 28px;line-height: 60px;"></i>
    <h5><span class="redstatus">成功加入我的最愛</span></h5>
</div>

<div id="heartcancel" class="popstyle" style="display: none;">
    <i class="fa fa-heart waitstatus"
       style="font-size: 28px;line-height: 60px;"></i>
    <h5><span class="waitstatus">成功取消我的最愛</span></h5>
</div>


@section scripts {
    <script>
        $('.fa-heart').click(function () {
            var whichheart = this.id;

            if ($(this).hasClass('heartclicked')) {
                $(this).attr('class', 'fa fa-heart fa-2x');
                $("#heartcancel").show().delay(1000).hide(300);
            }
            else {
                $(this).attr('class', 'fa fa-heart fa-2x heartclicked');
                $("#heartsuccess").show().delay(1000).hide(300);
            }

        });
    </script>
}


