
@{
    ViewBag.Title = "會員中心";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Breadcumb {
    @{ Html.RenderPartial("~/Views/Shared/_Breadcumb一般.cshtml"); }
}

<!-- ##### clientinfo Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container p-0">
        <table style="width: 100%;" class="mt-5 mb-5">
            <tr>
                <td style="width: 90%;">
                    <span class="m-1 noclick">基本資料</span>
                    <span class="ml-4 mr-4"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>　點數餘額：0點</span>
                    <a href="buypoint.html">
                        <span style="color: #ffa943;">
                            <i class="fa fa-plus"
                               aria-hidden="true"></i>　儲值點數
                        </span>
                    </a>
                </td>
                <td class="text-right" style="width: 10%;">
                    <a href="memberinfo.html" style="right: 0;">
                        <h5><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #8b8b8b;"></i></h5>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="container single-best-receipe-area">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 p-0 ">
                        <div class="picautosize">
                            <div class="img-style3" style="background-image: url(/Content/img/bg-img/bg1.jpg);"></div>
                        </div>
                    </div>
                    <div class="col-lg-8 card-bg3">
                        <div class="mb-3"><span style="font-size: 16px;" class="mr-3"><b>真實姓名</b></span></div>
                        <div class="mb-3"><b class="mr-5">暱　　稱</b><span>羊羊</span></div>
                        <div class="mb-3"><b class="mr-5">電　　話</b><span>0911-111-111</span></div>
                        <div class="mb-3"><b class="mr-5">電子郵件</b><span>test@gmail.com</span></div>
                        <div class="mb-3"><b class="mr-5">生　　日</b><span>1991-9-9</span></div>
                        <div class=""><b class="mr-5">地　　址</b><span>台北市信義區</span></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5 text-center">
        <div class="delicious-buttons-area mb-80">
            <a href="chefedit.html" class="btn delicious-btn btn-4 m-1">成為私廚</a>
        </div>
    </div>
</div>
<!-- ##### clientinfo End ##### -->
